.meeting_title{
    padding:20px;
    font-size: 15px;
}
.meeting_content{
    background-color: navajowhite;
    padding:30px;
}
.meeting_page{
   background-color:tomato;
   text-align: center;
   font:x-large 'Times New Roman', Times, serif ;
   border: 0px solid tomato;
   padding-left: unset;
}